
            <div class="single-comment">
                <h4>{{user}}</h4>
                <p>
                    {{text}}
                </p>
                <p>
                    {{!-- {{comment.createdAt}} --}}
                </p>
            </div>
     