<article class="post-comments">
    <h2>Comments:</h2>
    <form>
        <label for="new-comment">Leave a comment!</label>
        <textarea class="new-comment"></textarea>
        <button id="submit-comment">Submit</button>
    </form>
</article>