<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" >

</head>
<body>
    <header>
        <nav>
            <div>
                <h1>Bemmy's Tech Blog</h1>

            </div>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/profile'>Dash Board</a></li>
                {{#if loggedIn}}
                    <li><a href='/login' id="logout">Log out</a></li>
                {{/if}}

                {{#unless loggedIn}}
                    <li><a href='/login'>Login</a></li>
                {{/unless}}
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
    
    {{#if loggedIn}}
        <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>