<header>
    <title>Edits</title>
    <link href="/css/editPage.css" rel="stylesheet"/>
</header>

<section class="edit-post-container">


    <h1 style="flex-basis: 100%;">Edit post #{{id}}</i></h1>
    <form id="{{id}}">  
        <label for="post-title">
            Title:
        </label>
        <input type="text" id="title" placeholder="Intermediate React Guide" value="{{title}}"/>
        <label for="new-post">
            Blog Body:
        </label>
        <textarea type="textarea" id="content">{{content}}</textarea>

        <button type="submit" id="edit-btn">Submit Edits</button>
    </form>
</section>

<script src="/js/edits.js"></script>