{{!-- {{#each blog.post as |post| }} 
    {{> blogpost}}
        
{{#each}} --}}

<section class="recent-posts">
                  <h2>Latest Posts</h2>

            <a href="#">
                <article>
                    <h2>Blog title</h2>
                    <p>beginning blog name</p>
                </article>
            </a>
        </section>