
<section class="recent-posts">
    <h1>Latest Posts</h1>
    <a href="#">
        <article>
            <h2>Blog title</h2>
            <p>beginning blog name</p>
        </article>
    </a>
</section>