<head>
    <title>News Feed</title>
    <link rel="stylesheet" type="text/css" href="/css/profile.css" >

</head>
<section class="new-post-container">
    <h1>Welcome {{name}}</h1>
    <h2>Tell the world about your coding journey!</h2>
    <form>  
        <label for="new-post">
            <h2>Create a blog post!</h2>
        </label>
        <textarea type="textarea" id="new-post"></textarea>
        <button type="submit" id="create-post">Create Post</button>
    </form>
</section>

<section class="old-posts-container">
    <h2>Previous Posts</h2>
    <article id="profile-allPosts">
        {{#each allPosts as |post| }} 
            {{> blogpost}}
        {{/each}}
    </article>
</section>