<section class="new-post-container">
    <h2>hello</h2>
    <form>  
        <label for="new-post">
            <h2>Create a blog post!</h2>
        </label>
        <textarea type="textarea" id="new-post"></textarea>
        <button type="submit" id="create-post"></button>
    </form>
</section>

<section class="old-posts-container">
    <h1>Previous Posts</h1>
    <article>

    </article>
</section>