<head>
    <title>News Feed</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/profile.css" >
</head>
<section class="new-post-container" id="{{userId}}">
    <h1 style="flex-basis: 100%;">Welcome {{name}}</h1>
    <h2>Tell the world about your coding journey!</h2>
    <form>  
        <label for="post-title">
            Title:
        </label>
        <input type="text" id="title" placeholder="Intermediate React Guide"/>
        <label for="new-post">
            Create a blog post!
        </label>
        <textarea type="textarea" id="content"></textarea>

        <button type="submit" id="create-post">Create Post</button>
    </form>
</section>

<section class="old-posts-container">
    <h2>Previous Posts</h2>
    <article id="profile-allPosts">
        {{#each allPosts as |post| }} 
            {{> blogpost}}
        {{/each}}
    </article>
</section>

<script src="/js/profile.js"></script>