<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/fullArticle.css"/>
</head>
<section class="full-article">
    <div>
        {{>full-post-view}}
        {{>post-comments}}
    </div>

</section>