@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
:root {
  --primary-color: #ed6a5a;
  --secondary-color: #5d576b;
  --tertiary-color: #9bc1bc;
  --general-bg: #f4f1bb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  background-color: var(--secondary-color);
  padding: 1.25em;
  width: 100vw;
  font-size: 1.35rem;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

nav li:hover {
  color: var(--primary-color);
}

nav,
main,
footer {
  padding: 1em 1.5em;
}
nav > div,
ul {
  flex: 1 1 20em;
}

h1 {
  /* background-color: var(--tertiary-color); */
  width: max-content;
  border-radius: 10px;
  padding: 0.5em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav li {
  cursor: pointer;
  flex: 1 1 5em;
}

section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
}

#all-posts {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3em;
  row-gap: 2em;
}
#all-posts .recent-posts:first-of-type {
  flex-basis: 100%;
  max-width: 100%;
}
#all-posts .recent-posts {
  flex: 1 1 20em;
  max-width: 50%;
}

.recent-posts h2 {
  height: 30%;
  text-align: center;
}

.recent-posts p {
  height: 25vh;
}
a {
  text-decoration: none;
  color: inherit;
}
section a {
  flex: 1 1 20em;
  display: flex;
  flex-direction: column;
}

a h2 {
  background-color: var(--primary-color);
}

a article {
  /* border-radius: 10px; */
  overflow: hidden;
  border-radius: 7px;

  box-shadow: 0 3px 3px 3px var(--secondary-color);
}

a article:hover {
  transform: translate(-0.75vw, -0.75vh);
  transition: 0.3s ease-in-out;
}

a article p {
  background-color: var(--general-bg);
}

.recent-posts:hover {
  border-radius: 10px;
}

a article a article > * {
  padding: 1em;
  width: 100%;
}

@media screen and (max-width: 650px) {
  #all-posts .recent-posts {
    flex: 1 1 20em;
    max-width: 100%;
  }
}
